CONFIG VCCAUX = "3.3";
#-------------------------------------------------------------------------------
# Clock and reset
#
NET "clock"       LOC = J1 | IOSTANDARD = LVCMOS33;
NET "reset_N"     LOC = D5 | PULLUP | IOSTANDARD = LVCMOS33;

NET "USB_TX"		LOC = Y2 | IOSTANDARD = LVCMOS33;
NET "USB_RX"		LOC = W1 | IOSTANDARD = LVCMOS33;

NET "DAC_SCLK"		LOC = AB19 | IOSTANDARD = LVCMOS33;
NET "DAC_SDO"		LOC = AB16 | IOSTANDARD = LVCMOS33;
NET "DAC_SYNC"		LOC = AB17 | IOSTANDARD = LVCMOS33;

NET "LED0_0"		LOC = E4 | IOSTANDARD = LVCMOS33;
NET "LED0_1"		LOC = H3 | IOSTANDARD = LVCMOS33;

NET "Hall_A"		LOC = A20 | IOSTANDARD = LVCMOS33;
NET "Hall_B"		LOC = A21 | IOSTANDARD = LVCMOS33;
NET "Hall_C"		LOC = B22 | IOSTANDARD = LVCMOS33;

NET "Sa_top"		LOC = C19 | IOSTANDARD = LVCMOS33;
NET "Sa_bot"		LOC = C20 | IOSTANDARD = LVCMOS33;
NET "Sb_top"		LOC = D19 | IOSTANDARD = LVCMOS33;
NET "Sb_bot"		LOC = D20 | IOSTANDARD = LVCMOS33;
NET "Sc_top"		LOC = E20 | IOSTANDARD = LVCMOS33;
NET "Sc_bot"		LOC = F20 | IOSTANDARD = LVCMOS33;

NET "ADC_SCLK"		LOC = B18 | IOSTANDARD = LVCMOS33;
NET "ADC0_SDO"		LOC = H14 | IOSTANDARD = LVCMOS33;
NET "ADC0_CS"		LOC = F15 | IOSTANDARD = LVCMOS33;