CONFIG VCCAUX = "3.3";
#-------------------------------------------------------------------------------
# Clock and reset
#
NET "clock"       LOC = L19 | IOSTANDARD = LVCMOS33;
NET "reset_N"     LOC = L15 | PULLUP | IOSTANDARD = LVCMOS33;

NET "ADC_SCLK"		LOC = AB3 | IOSTANDARD = LVCMOS33;
NET "ADC_SDO"		LOC = A5 | IOSTANDARD = LVCMOS33;
NET "ADC_CS"		LOC = C11 | IOSTANDARD = LVCMOS33;
NET "USB_TX"		LOC = V20 | IOSTANDARD = LVCMOS33;
NET "USB_RX"		LOC = U19 | IOSTANDARD = LVCMOS33;
NET "BP_PWMA"		LOC = Y2 | IOSTANDARD = LVCMOS33;
NET "BP_PWMB"		LOC = Y1 | IOSTANDARD = LVCMOS33;
NET "D"				LOC = P20 | PULLUP | IOSTANDARD = LVCMOS33;
NET "Q"				LOC = M18 | IOSTANDARD = LVCMOS33;
NET "Q1"				LOC = M17 | IOSTANDARD = LVCMOS33;
NET "DAC_SCLK"		LOC = F16 | IOSTANDARD = LVCMOS33;
NET "DAC_SDO"		LOC = B21 | IOSTANDARD = LVCMOS33;
NET "DAC_SYNC"		LOC = D17 | IOSTANDARD = LVCMOS33;

