//! **************************************************************************
// Written by: Map P.20131013 on Tue Aug 17 20:15:51 2021
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clock" LOCATE = SITE "J1" LEVEL 1;
COMP "reset_N" LOCATE = SITE "D5" LEVEL 1;
COMP "LED0_0" LOCATE = SITE "E4" LEVEL 1;
COMP "LED0_1" LOCATE = SITE "H3" LEVEL 1;
COMP "USB_RX" LOCATE = SITE "W1" LEVEL 1;
COMP "USB_TX" LOCATE = SITE "Y2" LEVEL 1;
COMP "Hall_A" LOCATE = SITE "A20" LEVEL 1;
COMP "Hall_B" LOCATE = SITE "A21" LEVEL 1;
COMP "Hall_C" LOCATE = SITE "B22" LEVEL 1;
COMP "Sa_bot" LOCATE = SITE "C20" LEVEL 1;
COMP "Sb_bot" LOCATE = SITE "D20" LEVEL 1;
COMP "Sc_bot" LOCATE = SITE "F20" LEVEL 1;
COMP "Sa_top" LOCATE = SITE "C19" LEVEL 1;
COMP "Sb_top" LOCATE = SITE "D19" LEVEL 1;
COMP "Sc_top" LOCATE = SITE "E20" LEVEL 1;
COMP "ADC0_SDO" LOCATE = SITE "H14" LEVEL 1;
COMP "ADC_SCLK" LOCATE = SITE "B18" LEVEL 1;
COMP "DAC_SCLK" LOCATE = SITE "AB19" LEVEL 1;
COMP "DAC_SYNC" LOCATE = SITE "AB17" LEVEL 1;
COMP "ADC0_CS" LOCATE = SITE "F15" LEVEL 1;
COMP "DAC_SDO" LOCATE = SITE "AB16" LEVEL 1;
SCHEMATIC END;

